.price-range {
  display: flex;
  justify-content: space-evenly;
}

.pricing-container {
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  justify-content: center;
  text-align: center;
}

.web-offline-pricing {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.header-bar {
  display: flex;
  height: 10%;
}

@media (min-width: 481px) and (max-width: 768px) {
  .web-offline-pricing {
    justify-content: flex-start;
  }
}

@media (min-width: 769px) {
  .web-offline-pricing {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}
